.main-header {
    display: flex;
    margin: 0 auto;
    padding: 18px 14px 16px;
    background: #202020;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:768px) {
    .main-header {
        padding: 15px 30px;
    }
     
}

.main-header__menu {

}
